<!DOCTYPE html>
<html>
<head>
	<title>FailTube</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1 id="siteName">Fail<span>Tube</span></h1>
	<% include partials/nav%>
	<%- body %>
</body>
</html>