<h1 class="intHeader">all videos</h1>
<div id="videoWrapper">
<% for (var i = 0; i < videos.length; i++) { %>
  <div class="video">
    <a href="/<%= videos[i].id %>">
      <h3><%= videos[i].title %></h3>
      <p class="failLevel">fail level: <%= videos[i].failLevel %></p>
      <p class="nsfw">nsfw?: <%= videos[i].nsfw %></p>
    </a>
  </div>
<% } %>
</div>
