<h1>Show</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allowfullscreen></iframe>
<p><%= video.description%></p>
<p>FAIL LEVEL<%= video.failevel%></p>
